@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@700&display=swap');

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 100px;
    font-family: SF Pro Text;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    & img {
        height: 50px;
        width: 50px;
        object-fit: cover;
    }

    & p {
        margin: 0;
        font-size: 20px;
        font-family: 'Maven Pro', sans-serif;
    }
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;

    & ul {
        display: flex;
        list-style: none;
        justify-content: space-between;
        gap: 30px;
        padding: 0;
    }
}

