:root {
    --dark-grey: #363753;
    --light-grey: #DFE3EE;
    --white: #FEFEFE;
    --green: #5CD2C6;
}

.login-form {
    height: auto;
    padding: 50px 20px;
    background-color: var(--white);
    border-radius: 15px;
}

.modal {
    width: 1200px;
    font-size: 12px;
    background-color: white;
    font-family: SF Pro Text;
    padding: 30px;
    border-radius: 15px;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal .close {
    cursor: pointer;
    position: absolute;
    display: block;
    padding: 2px 5px;
    line-height: 20px;
    right: 10px;
    top: 10px;
    font-size: 24px;
    border: none;
    background: #ffffff;
}

.popup-overlay {
    background: rgba(0, 0, 0, .5);
}