.register {
    width: 1200px;
    max-width: 1200px;
    display: block;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.register-form {
    display: flex;
    flex-direction: column;
}